<!-- Start Nav Section-->
<nav class="navbar navbar-expand-lg white">
  <a class="navbar-brand" href="#">
    <img src="assets/logo.png" class="img-fluid w-25" alt="Responsive image">
  </a>
  <div *ngIf="authentificationService.isAuthenticated()">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
  <ul class="navbar-nav">
    <!-- Administrateur-->
    <li *ngIf="administrateur" class="nav-item active">
      <a class="nav-link waves-light" mdbWavesEffect>Gestion Session/Soutenance<span class="sr-only">(current)</span></a>
  </li>
  <li *ngIf="administrateur" class="nav-item">
      <a routerLink="/Administrateur/gestion-etudiant" routerLinkActive="active" class="nav-link waves-light" mdbWavesEffect>Gestion Etudiant</a>
  </li>
  <li *ngIf="administrateur" class="nav-item">
    <a class="nav-link waves-light" mdbWavesEffect>Gestion Enseignant</a>
  </li>
  <li *ngIf="administrateur" class="nav-item">
      <a class="nav-link waves-light" mdbWavesEffect>Gestion des PFEs</a>
  </li>
  <!-- Enseignant-->
  <li *ngIf="enseignant" class="nav-item active">
    <a class="nav-link waves-light" mdbWavesEffect>Encadrement<span class="sr-only">(current)</span></a>
  </li>
  <li *ngIf="enseignant" class="nav-item">
    <a class="nav-link waves-light" mdbWavesEffect>Gestion PFE</a>
  </li>
   <!-- Etudiant-->
  <li *ngIf="etudiant" class="nav-item active">
    <a class="nav-link waves-light" mdbWavesEffect>Ancien PFEs<span class="sr-only">(current)</span></a>
  </li>
  <li *ngIf="etudiant" class="nav-item">
      <a class="nav-link waves-light" mdbWavesEffect>Ajouter Sujet</a>
  </li>
  <li *ngIf="etudiant" class="nav-item">
      <a class="nav-link waves-light" mdbWavesEffect>Suggestion PFE</a>
  </li>
  <li *ngIf="etudiant" class="nav-item">
    <a class="nav-link waves-light" mdbWavesEffect>Upload PFE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link waves-light" mdbWavesEffect (click)="logout()">LOGOUT</a>
  </li>
  </ul>
</div>

  <!-- End Nav Section-->
</div></nav>
