

      <!--Content-->
      <div class="modal-content">

        <!--Header-->
        <div class="modal-header green lighten-2 white-text">
          <h4 class="title">
              <mdb-icon fas icon="pencil-alt" class="prefix"></mdb-icon>
              Ajouter un enseignant
          <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
          </button>
          </h4>
        </div>
        <!--Body-->
        <div class="modal-body mb-0">
          <form action="#!" #enseignantForm="ngForm">
            <div class="md-form form-sm">
              <mdb-icon fas icon="user-alt" class="prefix"></mdb-icon>
              <input required  ngModel #lastName="ngModel" name="lastname" mdbInput type="text" id="nom"  class="form-control">
              <label for="nom">Nom</label>
              <div *ngIf="lastName.invalid && lastName.dirty">
                required
              </div>
            </div>
            <div class="md-form form-sm">
              <mdb-icon fas icon="user-alt" class="prefix"></mdb-icon>
              <input required ngModel #firstName="ngModel"  name="firstname" mdbInput type="text" id="prenom"  class="form-control">
              <label for="prenom">Prénom</label>
              <div *ngIf="firstName.invalid && firstName.dirty">
                required
              </div>
            </div>

            <div class="md-form form-sm">
              <mdb-icon fas icon="user-graduate" class="prefix select"></mdb-icon>
              <label *ngIf="departement.pristine" for="departement">Département</label>
              <select required ngModel #departement="ngModel"  name="departement" class="browser-default custom-select">
                <option value="Génie Physique et Instrumentation">Génie Physique et Instrumentation</option>
                <option value="Génie Informatique et Mathématique">Génie Informatique et Mathématique</option>
                <option value="Génie Biologique et Chimie">Génie Biologique et Chimie</option>
                <option value="Sciences Sociales, Langage et Formation Générale">Sciences Sociales, Langage et Formation Générale</option>
              </select>
              <div *ngIf="departement.invalid && departement.dirty">
                required
              </div>
            </div>
            <div class="md-form form-sm">
              <mdb-icon fas icon="user-tie" class="prefix select"></mdb-icon>
              <label *ngIf="grade.pristine" for="grade">Grade</label>
              <select required ngModel #grade="ngModel"  name="grade" class="browser-default custom-select">
                <option value="Professeur">Professeur</option>
                <option value="Maître de Conférences">Maître de Conférences</option>
                <option value=">Maître-assistant">Maître-assistant</option>
                <option value="Assistant">Assistant</option>
              </select>

              <div *ngIf="grade.invalid && grade.dirty">
                required
              </div>
            </div>

            <div class="md-form form-sm">
                <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
              <input ngModel required #email="ngModel"  mdbInput type="email" id="email" name="email" class="form-control">
              <label for="email">Email</label>
              <div *ngIf="email.invalid && email.dirty">
                required
              </div>
            </div>
            <div class="text-center mt-1-half">
              <button
              *ngIf="!submitted"
              type="submit"
              [disabled]="enseignantForm.invalid"
              mdbBtn
              (click)="add(enseignantForm)"
              class="add green lighten-2 mb-2 waves-light"
              mdbWavesEffect>
              Ajouter
                  <mdb-icon fas icon="check" class="prefix ml-1"></mdb-icon>
              </button>

              <div class="spinner-border m-4" role="status" *ngIf="submitted">
                <span class="sr-only">Loading...</span>
              </div>

            </div>
          </form>

        </div>
        </div>
