
      <div class="modal-content">

        <div class="modal-header green lighten-2 white-text">
          <h4 class="title">
              <mdb-icon fas icon="pencil-alt" class="prefix"></mdb-icon>
              Ajouter des enseignants
          <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
          </button>
          </h4>
        </div>
        <div class="modal-body mb-0">
          <form action="#!" #enseignantCsvForm="ngForm">
            <div class="md-form form-sm">
              <mdb-icon fas icon="user-alt" class="prefix"></mdb-icon>
              <input required  ngModel #file="ngModel" name="file" mdbInput type="file" id="file"  class="form-control" (change)="fileChangeListener($event)" accept=".csv">
              <div *ngIf="file.invalid && file.dirty">
                required
              </div>
            </div>
              <div class="spinner-border m-4" role="status" *ngIf="submitted">
                <span class="sr-only">Loading...</span>
              </div>
          </form>

        </div>
        </div>
