
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header light-blue darken-3 white-text">
          <h4 class="title">
              <mdb-icon fas icon="pencil-alt" class="prefix"></mdb-icon>
              Modifier un etudiant
          <button (click)="modalRef.hide()" type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">×</span>
          </button>
          </h4>
        </div>
        <!--Body-->
        <div class="modal-body mb-0">
          <form >
            <div class="md-form form-sm">
              <mdb-icon fas icon="user-alt" class="prefix"></mdb-icon>
              <input mdbInput type="text" id="nom"  class="form-control">
              <label for="nom">Nom</label>
            </div>
            <div class="md-form form-sm">
              <mdb-icon fas icon="user-alt" class="prefix"></mdb-icon>
              <input mdbInput type="text" id="prenom"  class="form-control">
              <label for="prenom">Prénom</label>
            </div>
            <div class="md-form form-sm">
              <mdb-icon fas icon="id-card-alt" class="prefix"></mdb-icon>
              <input mdbInput type="text" id="filiere"  class="form-control">
              <label for="filiere">Filiere</label>
            </div>
            <div class="md-form form-sm">
              <mdb-icon fas icon="user-graduate" class="prefix"></mdb-icon>

              <select class="browser-default custom-select">
                <option selected>Filiere</option>
                <option value="1">GL</option>
                <option value="2">RT</option>
                <option value="3">IIA</option>
              </select>
            </div>
            <div class="md-form form-sm">
              <mdb-icon fas icon="user-tie" class="prefix"></mdb-icon>
              <select class="browser-default custom-select">
                <option selected>Niveau</option>
                <option value="1">2</option>
                <option value="2">3</option>
                <option value="3">4</option>
              </select>
            </div>
  
            <div class="md-form form-sm">
                <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
              <input mdbInput type="email" id="email"  class="form-control">
              <label for="email">Email</label>
            </div>
          </form>
  
        </div>
        <div class="modal-footer">
            <button (click)="onYesClick()" mdbBtn color="info" class="mb-2 waves-light" mdbWavesEffect>Ajouter
                <mdb-icon fas icon="check" class="prefix ml-1"></mdb-icon>
            </button>
            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="modalRef.hide()" mdbWavesEffect>Close</button>
        </div>
      </div>
   