<form (ngSubmit)="onSubmit(form)" #form="ngForm">
<div *ngIf="!success">
  <!-- Title input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="titre">Titre du sujet</label>
    <input type="text" id="titre" class="form-control" ngModel name="titre" #titre="ngModel" required />
  </div>

  <div class="alert alert-danger" *ngIf="titre.invalid&&titre.touched">
    <div *ngIf="titre.errors.required">
      Veuillez entrer le titre du sujet
    </div>
  </div>

  <!-- Entreprise input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="entreprise">Entreprise d'acceuil</label>
    <input type="text" id="entreprise" class="form-control" ngModel name="entreprise" #entreprise="ngModel" required />
  </div>

  <div class="alert alert-danger" *ngIf="entreprise.invalid&&entreprise.touched">
    <div *ngIf="entreprise.errors.required">
      Veuillez entrer le nom de l'entreprise d'acceuil
    </div>
  </div>

    <!-- Encadrant Entreprise input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="encadrant">Encadrant dans l'entreprise</label>
      <input type="text" id="nomEncadrantEntreprise" class="form-control" ngModel name="nomEncadrantEntreprise" #nomEncadrantEntreprise="ngModel" required />
    </div>

    <div class="alert alert-danger" *ngIf="nomEncadrantEntreprise.invalid&&nomEncadrantEntreprise.touched">
      <div *ngIf="nomEncadrantEntreprise.errors.required">
        Veuillez entrer le nom de l'encadrant dans l'entreprise d'acceuil
      </div>
    </div>

  <!-- Description input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="description">Description du sujet</label>
    <textarea class="form-control" id="description" rows="4" ngModel name="description" #description="ngModel"
      required></textarea>
  </div>

  <div class="alert alert-danger" *ngIf="description.invalid&&description.touched">
    <div *ngIf="description.errors.required">
      Veuillez entrer la description du sujet
    </div>
  </div>

  <label class="form-label" for="customFile">Dossier de l'étudiant sous format PDF</label>
  <input type="file" class="form-control mb-4" id="customFile" ngModel name="file" #file="ngModel"
    (change)="handleFileInput($event.target.files)" required id="sujet-etudiant-file" />

  <div class="alert alert-danger" *ngIf="fileIsValid==false||(file.invalid&&file.dirty)">
    <div *ngIf="fileIsValid==false">
      <div *ngIf="fileSizeError">
        Le fichier est trop grand
      </div>
      <div *ngIf="fileTypeError">
        Le fichier doit être au format PDF
      </div>
    </div>
    <div *ngIf="file.invalid">
      Veuillez ajouter votre dossier
    </div>
  </div>

  <!-- Submit button -->
  <button *ngIf="!submitted" type="submit" class="btn btn-primary btn-block mb-4" [disabled]="form.invalid||!fileIsValid">Send</button>
  <div class="d-flex justify-content-center">
  <div class="spinner-border m-2 text-danger" role="status" *ngIf="submitted">
    <span class="sr-only">Loading...</span>
  </div>
</div>

</div>
  <div *ngIf="success" class="alert alert-success">
    Votre sujet a été ajouté avec succès. Un administrateur devrait le valider prochainement.
  </div>
</form>
