
 
      <!--Content-->
      <div class="modal-content">
  
        <!--Header-->
        <div class="modal-header green lighten-2 white-text">
          <h4 class="title">
              <mdb-icon fas icon="pencil-alt" class="prefix"></mdb-icon>
              Ajouter un etudiant
          <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
          </button>
          </h4>
        </div>
        <!--Body-->
        <div class="modal-body mb-0">
          <form action="#!" #etudiantForm="ngForm">
            <div class="md-form form-sm">
              <mdb-icon fas icon="user-alt" class="prefix"></mdb-icon>
              <input required  ngModel #lastName="ngModel" name="lastname" mdbInput type="text" id="nom"  class="form-control">
              <label for="nom">Nom</label>
              <div *ngIf="lastName.invalid && lastName.dirty">
                required
              </div>
            </div>
            <div class="md-form form-sm">
              <mdb-icon fas icon="user-alt" class="prefix"></mdb-icon>
              <input required ngModel #firstName="ngModel"  name="firstname" mdbInput type="text" id="prenom"  class="form-control">
              <label for="prenom">Prénom</label>
              <div *ngIf="firstName.invalid && firstName.dirty">
                required
              </div>
            </div>

            <div class="md-form form-sm">
              <mdb-icon fas icon="user-graduate" class="prefix select"></mdb-icon>
              <select required ngModel #filiere="ngModel"  name="filiere" class="browser-default custom-select">
                <option selected>Filiere</option>
                <option value="GL">GL</option>
                <option value="RT">RT</option>
                <option value="IIA">IIA</option>
              </select>
              <div *ngIf="filiere.invalid && filiere.dirty">
                required
              </div>
            </div>
            <div class="md-form form-sm">
              <mdb-icon fas icon="user-tie" class="prefix select"></mdb-icon>
              <select required ngModel #niveau="ngModel"  name="niveau" class="browser-default custom-select">
                <option selected>Niveau</option>
                <option value="2">3</option>
                <option value="3">5</option>
              </select>
              <div *ngIf="niveau.invalid && niveau.dirty">
                required
              </div>
            </div>
  
            <div class="md-form form-sm">
                <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
              <input ngModel required #email="ngModel"  mdbInput type="email" id="email" name="email" class="form-control">
              <label for="email">Email</label>
              <div *ngIf="email.invalid && email.dirty">
                required
              </div>
            </div>
            <div class="md-form form-sm">
              <mdb-icon fas icon="key" class="prefix"></mdb-icon>
              <input required  ngModel #password="ngModel"  mdbInput type="password" id="password" name="password" class="form-control">
              <label for="password">password</label>
              <div *ngIf="password.invalid && password.dirty">
                required
              </div>
            </div>
            <div class="text-center mt-1-half">
              <button 
              *ngIf="!submitted"
              type="submit" 
              [disabled]="etudiantForm.invalid"
              mdbBtn 
              (click)="add(etudiantForm)" 
              class="add green lighten-2 mb-2 waves-light" 
              mdbWavesEffect>
              Ajouter
                  <mdb-icon fas icon="check" class="prefix ml-1"></mdb-icon>
              </button>
   
              <div class="spinner-border m-4" role="status" *ngIf="submitted">
                <span class="sr-only">Loading...</span>
              </div>
        
            </div>
          </form>
  
        </div>
        </div>
     