body{
  min-height: 100vh;
  background-color: #fbfbfb;
}

*{
  font-family: 'Source Sans Pro', sans-serif;

}
/*
body {
  background-image: url('');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

