@import '~ngx-toastr/toastr';

body{
  min-height: 100vh;
  background-color: #fbfbfb;
}

*{
  font-family: 'Source Sans Pro', sans-serif;
}


a.active {
  color: #840809 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.largeModal{
  overflow-y: auto !important;
}