@import "~ngx-toastr/toastr";

body {
  min-height: 100vh;
  background-color: #fbfbfb;
}

* {
  font-family: "Source Sans Pro", sans-serif;
}

a.active {
  color: #840809 !important;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.largeModal {
  overflow-y: auto !important;
}
.edit {
  background-color: #0099cc !important;
  color: white !important;
}
.delete {
  background-color: #cc0000 !important;
  color: white !important;
}

.add {
  background-color: #81c784 !important;
  color: white !important;
}
.addCsv {
  background-color: #273a48;
  color: white !important;
}
a{
  color: #273a48 !important;
}

.pdfViewer .modal-content{
  min-height: 75vh;
  height: 90vh;
  min-width: 90vw;
}

 .modal.pdfViewer {
  padding-right: 15vw!important;
}

ng2-pdfjs-viewer{
  height: 100%;

}
